h1{
  text-align: center;
  color: aquamarine;
  font-family: 'Original Surfer', cursive;
}

#intro{
  text-align: center;
  font-family: 'Original Surfer', cursive;
  color: aquamarine;
  background-color: white;
}